*{
  margin: 0%;
  padding: 0%;
  /* outline: 1px solid red; */
  box-sizing: border-box;
}
body,html{
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgb(241, 241, 176);
}
#root{
  width: 100%;
  height: 100%;
}
.wrapper{
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  width: 100%;
  margin: 0.5rem;
}
.card{
  display: flex;
  flex-direction: column;
  width:    10rem;
  height: 12rem;
  align-items: center;  
  justify-content: center;
  background:rgb(155, 170, 166);
  margin: 0.5rem;
  padding:1rem;
  border-radius: 1rem;
}
img{
    width: 100%;
    height: 100%;
}
